<main class="d-flex text-light">
  <div class="bg-success" style="width:50vw; height:100vh;">
    <div>
      <h1 class="m-2">Name:</h1>
      <h1 class="m-2">Email:</h1>
      <h1 class="m-2">Gender:</h1>
      <h1 class="m-2">Id:</h1>
    </div>
    <div *ngFor="let element of data" class="d-inline-flex">
      <button class="m-2" (click)="onClick(element)">{{ element.name }}</button>
    </div>
  </div>
  <div *ngIf="visible" class="bg-danger" style="width:50vw; height:100vh;">
    <div>
      <h1 class="m-2">{{name}}</h1>
      <h1 class="m-2">{{email}}</h1>
      <h1 class="m-2">{{gender}}</h1>
      <h1 class="m-2">{{id}}</h1>
    </div>
    <button class="bg-warning m-2" (click)="onCloseClick()">CLOSE</button>
  </div>
</main>
