<main class="d-flex text-light">
  <div class="bg-success" style="width:50vw; height:100vh;">
    <div *ngFor="let element of data" class="d-inline-flex">
      <div class="border">
        <button class="m-2 btn btn-info" (click)="onClick(element)" style="width:5vw;">{{ element.ProductCode }}</button>
      </div>
    </div>
  </div>
  <div *ngIf="visible" class="bg-danger" style="width:50vw; height:100vh;">
    <div class="d-flex">
      <div style="width:25vw; height:100vh;">
        <div *ngFor="let key of elemKeys" class="border h4" style="height:4vw;">
          {{ key }}
        </div>
      </div>
      <div style="width:25vw; height:100vh;" class="d-flex flex-column justify-content-between">
        <div>
          <div *ngFor="let value of elemValues" class="border h4" style="height:4vw;">
            {{ value }}
          </div>
        </div>
        <button class="btn btn-warning m-5" (click)="onCloseClick()">CLOSE</button>
      </div>
    </div>
  </div>
</main>
